Zapagestion Web/ZGM/Web References/ServicioAlmacenCentralPiagui/wsAlmacenCentral.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mypiagui.com:9090/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mypiagui.com:9090/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mypiagui.com:9090/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setSapConexion">
        <s:complexType />
      </s:element>
      <s:element name="setSapConexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setSapConexionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInventario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Material" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInventarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInventarioResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creaPedidoAC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NoTraspaso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Centro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Almacen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tienda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Material" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Talla" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="creaPedidoACResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="creaPedidoACResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="setSapConexionSoapIn">
    <wsdl:part name="parameters" element="tns:setSapConexion" />
  </wsdl:message>
  <wsdl:message name="setSapConexionSoapOut">
    <wsdl:part name="parameters" element="tns:setSapConexionResponse" />
  </wsdl:message>
  <wsdl:message name="getInventarioSoapIn">
    <wsdl:part name="parameters" element="tns:getInventario" />
  </wsdl:message>
  <wsdl:message name="getInventarioSoapOut">
    <wsdl:part name="parameters" element="tns:getInventarioResponse" />
  </wsdl:message>
  <wsdl:message name="creaPedidoACSoapIn">
    <wsdl:part name="parameters" element="tns:creaPedidoAC" />
  </wsdl:message>
  <wsdl:message name="creaPedidoACSoapOut">
    <wsdl:part name="parameters" element="tns:creaPedidoACResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAlmacenCentralSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setSapConexion">
      <wsdl:input message="tns:setSapConexionSoapIn" />
      <wsdl:output message="tns:setSapConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInventario">
      <wsdl:input message="tns:getInventarioSoapIn" />
      <wsdl:output message="tns:getInventarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="creaPedidoAC">
      <wsdl:input message="tns:creaPedidoACSoapIn" />
      <wsdl:output message="tns:creaPedidoACSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAlmacenCentralSoap" type="tns:wsAlmacenCentralSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://mypiagui.com:9090/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSapConexion">
      <soap:operation soapAction="http://mypiagui.com:9090/setSapConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInventario">
      <soap:operation soapAction="http://mypiagui.com:9090/getInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaPedidoAC">
      <soap:operation soapAction="http://mypiagui.com:9090/creaPedidoAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAlmacenCentralSoap12" type="tns:wsAlmacenCentralSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://mypiagui.com:9090/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSapConexion">
      <soap12:operation soapAction="http://mypiagui.com:9090/setSapConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInventario">
      <soap12:operation soapAction="http://mypiagui.com:9090/getInventario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creaPedidoAC">
      <soap12:operation soapAction="http://mypiagui.com:9090/creaPedidoAC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAlmacenCentral">
    <wsdl:port name="wsAlmacenCentralSoap" binding="tns:wsAlmacenCentralSoap">
      <soap:address location="http://mypiagui.com:800/wsAlmacenCentral.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAlmacenCentralSoap12" binding="tns:wsAlmacenCentralSoap12">
      <soap12:address location="http://mypiagui.com:800/wsAlmacenCentral.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>