Zapagestion Web/DLLGestionVenta/Web References/ThinkRetailServiceWeb/wsThingRetail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mypiagui.com:1080/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mypiagui.com:1080/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mypiagui.com:1080/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreaReservaTR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NoPedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Almacen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Almacen_Salida" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumVendedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Posiciones" type="tns:ArrayOfRow_Input" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRow_Input">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Row_Input" type="tns:Row_Input" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Row_Input">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Posicion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NumMaterial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Talla" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreaReservaTRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreaReservaTRResult" type="tns:Salida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Salida">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sts" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensajes" type="tns:ArrayOfMensaje" />
          <s:element minOccurs="0" maxOccurs="1" name="Rows" type="tns:ArrayOfRow_Output" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMensaje">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Mensaje" type="tns:Mensaje" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Mensaje">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRow_Output">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Row_Output" type="tns:Row_Output" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Row_Output">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Posicion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NumMaterial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Talla" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Sts" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensajes" type="tns:ArrayOfMensaje" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelaReservaTR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NoPedido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Almacen" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaReservaTRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelaReservaTRResult" type="tns:SalidaMsg" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SalidaMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sts" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensajes" type="tns:ArrayOfMensaje" />
        </s:sequence>
      </s:complexType>
      <s:element name="getInventarioAC">
        <s:complexType />
      </s:element>
      <s:element name="getInventarioACResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInventarioACResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="CreaReservaTRSoapIn">
    <wsdl:part name="parameters" element="tns:CreaReservaTR" />
  </wsdl:message>
  <wsdl:message name="CreaReservaTRSoapOut">
    <wsdl:part name="parameters" element="tns:CreaReservaTRResponse" />
  </wsdl:message>
  <wsdl:message name="CancelaReservaTRSoapIn">
    <wsdl:part name="parameters" element="tns:CancelaReservaTR" />
  </wsdl:message>
  <wsdl:message name="CancelaReservaTRSoapOut">
    <wsdl:part name="parameters" element="tns:CancelaReservaTRResponse" />
  </wsdl:message>
  <wsdl:message name="getInventarioACSoapIn">
    <wsdl:part name="parameters" element="tns:getInventarioAC" />
  </wsdl:message>
  <wsdl:message name="getInventarioACSoapOut">
    <wsdl:part name="parameters" element="tns:getInventarioACResponse" />
  </wsdl:message>
  <wsdl:portType name="wsThinkRetailSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreaReservaTR">
      <wsdl:input message="tns:CreaReservaTRSoapIn" />
      <wsdl:output message="tns:CreaReservaTRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelaReservaTR">
      <wsdl:input message="tns:CancelaReservaTRSoapIn" />
      <wsdl:output message="tns:CancelaReservaTRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInventarioAC">
      <wsdl:input message="tns:getInventarioACSoapIn" />
      <wsdl:output message="tns:getInventarioACSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsThinkRetailSoap" type="tns:wsThinkRetailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://mypiagui.com:1080/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaReservaTR">
      <soap:operation soapAction="http://mypiagui.com:1080/CreaReservaTR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaReservaTR">
      <soap:operation soapAction="http://mypiagui.com:1080/CancelaReservaTR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInventarioAC">
      <soap:operation soapAction="http://mypiagui.com:1080/getInventarioAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsThinkRetailSoap12" type="tns:wsThinkRetailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://mypiagui.com:1080/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreaReservaTR">
      <soap12:operation soapAction="http://mypiagui.com:1080/CreaReservaTR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaReservaTR">
      <soap12:operation soapAction="http://mypiagui.com:1080/CancelaReservaTR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInventarioAC">
      <soap12:operation soapAction="http://mypiagui.com:1080/getInventarioAC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsThinkRetail">
    <wsdl:port name="wsThinkRetailSoap" binding="tns:wsThinkRetailSoap">
      <soap:address location="http://mypiagui.com:1090/wsThingRetail.asmx" />
    </wsdl:port>
    <wsdl:port name="wsThinkRetailSoap12" binding="tns:wsThinkRetailSoap12">
      <soap12:address location="http://mypiagui.com:1090/wsThingRetail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>