Zapagestion Web/ZGM/Web References/HermesModaliaWebServiceReference/HermesImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://server.hermes.ecommerce.hermes.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://server.hermes.ecommerce.hermes.com" targetNamespace="http://server.hermes.ecommerce.hermes.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://server.hermes.ecommerce.hermes.com">
      <xsd:element name="insertOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="login" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="idSite" type="xsd:string" />
            <xsd:element name="in0" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="insertOrderReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateStock">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="login" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
            <xsd:element name="idSite" type="xsd:string" />
            <xsd:element name="idTienda" type="xsd:string" />
            <xsd:element name="codigoAlfa" type="xsd:string" />
            <xsd:element name="stock" type="xsd:int" />
            <xsd:element name="tallaOriginalCliente" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateStockReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateStockResponse">
    <wsdl:part name="parameters" element="impl:updateStockResponse" />
  </wsdl:message>
  <wsdl:message name="updateStockRequest">
    <wsdl:part name="parameters" element="impl:updateStock" />
  </wsdl:message>
  <wsdl:message name="insertOrderResponse">
    <wsdl:part name="parameters" element="impl:insertOrderResponse" />
  </wsdl:message>
  <wsdl:message name="insertOrderRequest">
    <wsdl:part name="parameters" element="impl:insertOrder" />
  </wsdl:message>
  <wsdl:portType name="HermesImpl">
    <wsdl:operation name="insertOrder">
      <wsdl:input name="insertOrderRequest" message="impl:insertOrderRequest" />
      <wsdl:output name="insertOrderResponse" message="impl:insertOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateStock">
      <wsdl:input name="updateStockRequest" message="impl:updateStockRequest" />
      <wsdl:output name="updateStockResponse" message="impl:updateStockResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HermesImplSoapBinding" type="impl:HermesImpl">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertOrder">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="insertOrderRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="insertOrderResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStock">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateStockRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateStockResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HermesImplService">
    <wsdl:port name="HermesImpl" binding="impl:HermesImplSoapBinding">
      <wsdlsoap:address location="http://79.99.212.61:8080/hermesServiceMX/services/HermesImpl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>